.hdr-cntlr{
	position: relative;
}
.hdr-topbar{
	background: rgba(0,0,0,.7);
	position: relative;
	z-index: 4;
}
.hdr-bg-cntlr-wrp{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.hdr-bg-cntlr-wrp .container,
.hdr-bg-cntlr-wrp .row,
.hdr-bg-cntlr-wrp .col-md-12,
.hdr-bg-cntlr-wrp .hdr-bg-cntlr{
	height: 100%;
}
.hdr-lft-bg{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 383px;
	background: #131313;
	z-index: 5;
}
.hdr-lft-bg > div{
	height: 100%;
	position: relative;
	width: 100%;
}
.hdr-page-angle{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	z-index: 5;
	width: 193px;
}
.hdr-page-angle img{
	height: 100%;
}
.hdr-bg-cntlr{
	position: relative;
}
.hdr-lft-opacity-bg{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background: #131313;
	z-index: 5;
}
.hdr-inr-logo{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 6;
	max-width: 675px;
	width: 100%;
	background: url(../images/inner-logo.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
}

/*.logo-bg{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 30%;
	z-index: 1;
	background: linear-gradient(0deg, rgba(7, 7, 7, 0.8), rgba(7, 7, 7, 0.8)), #424242;
}*/
.hdr-main-nav-cntlr-inr{
	position: relative;
}
.hdr-rgt-white-bg{
	position: absolute;
	right: 0;
	top: 87px;
	height: 107px;
	background: #fff;
	width: 50%;
	z-index: 4;
}
header.header{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.logo{
	position: absolute;
	left: -50px;
	display: flex;
	align-items: center;
	z-index: 6;
	top: -20px;
}

.logo-bg img{
	width: 100%;
	height: 100%;
}
.logo-txt {
	padding-left: 15px;
}
.logo-txt *{
	display: block;
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
}
.logo-txt strong{
	font-weight: 800;
	font-size: 30px;
	padding-bottom: 5px;
}
.logo-txt span{
	font-weight: 300;
	font-size: 14px;
}
.hdr-inr{
	position: relative;
	width: 100%;
	height: 100%;
}
.hdr-topbar-inr{
	padding: 34px 0 29px;
	display: flex;
	justify-content: flex-end;
	position: relative;
	margin-right: -30px;
}
.hdr-topbar-nav li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 27px;
}
.hdr-topbar-nav li:last-child{
	padding-right: 0;
}
.hdr-topbar-nav li a{
	display: inline-block;
	vertical-align: baseline;
	color: #fff;
}

.hdr-main-nav-cntlr-inr{
	display: flex;
	justify-content: flex-end;
}
.main-nav-white-bg{
	padding: 23px 0 0 60px;
	width: 65%;
	background: #fff;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	z-index: 4;
	top: 0;
	right: 0;
	margin-right: -35px;
}

.main-nav,.hdr-cart-btn{
	display: inline-block;
	vertical-align: baseline;
}
.main-nav{
	vertical-align: top;
	padding-top: 20px;
}
.hdr-cart-btn a{
	display: block;
	text-align: center;
	color: #F6C042;
	font-size: 16px;
	line-height: 1;
}
.hdr-cart-btn a i{
	display: block;
	margin-bottom: 8px;
}




nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	
}
nav.main-nav > ul{

}
nav.main-nav > ul > li{
	padding: 0 20px 40px;
	display: inline-block;
	vertical-align: baseline;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 800;
	font-size: 16px;
	line-height: 18px;
	color: #2B2B2B;
	text-transform: uppercase;
}

nav.main-nav > ul > li.current-menu-item > a,
nav.main-nav > ul > li > a:hover{
	color: #F6C042;
}

nav.main-nav > ul > li.menu-item-has-children > a{

}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu{
	position: absolute;
    top: 100%;
    left: 0;
    background: #131313;
    z-index: 30;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    opacity: 0;
}

nav.main-nav > ul > li.menu-item-has-children:hover > ul.sub-menu{
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav  ul.sub-menu li{
	padding: 0 0 30px 26px;
	display: block;
	position: relative;
}
nav.main-nav ul.sub-menu li a{
	color: #9e9ea1;
	font-size: 14px;
	line-height: 18px;
	display: block;
	padding: 0;
	text-transform: uppercase;
	position: relative;
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu:after{
	content: "";
	position: absolute;
	top: -19px;
	left: 26px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 19px solid #000;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	position: absolute;
	padding: 30px 0 0 0;
	min-width: 200px;
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li.menu-item-has-children ul.sub-menu{
	left: 100%;
	top: 50px;
	margin-top: -10px;
	background: #f9f9f9;
	min-width: 224px;
	opacity: 0;
		transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li.menu-item-has-children:hover ul.sub-menu{
	opacity: 1;
	top: -7px;
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li.menu-item-has-children ul.sub-menu:after{
	content: "";
	position: absolute;
	top: 18px;
	left: -7px;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-right: 19px solid #f9f9f9;
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li.menu-item-has-children ul.sub-menu a{
	color: #111111;
}

.fl-page-bnr-des{
	margin-left: -50px;
}
.fl-page-bnr-des-cntlr{
	position: absolute;
	z-index: 60;
	bottom: 55px;
	left: 0;
	right: 0;
}
.fl-page-bnr-des .breadcrumbs ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 16px;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	color: #F6C042;
}
.fl-page-bnr-des .breadcrumbs{
	max-width: 470px;
}
.fl-page-bnr-des .breadcrumbs ul li a{
	color: inherit;
}
.fl-page-bnr-des .breadcrumbs ul li:first-child{
	padding-left: 0;
}
.fl-page-bnr-des .breadcrumbs ul li:not(:last-child):after {
    content: "";
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: url(../images/breadcrumbs-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 6px;
    width: 12px;
}
.fl-page-bnr-des .breadcrumbs ul li a.fl-home-icon{
	position: relative;
	padding-left: 48px;
}


.fl-page-bnr-des .breadcrumbs ul li a.fl-home-icon:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: url(../images/home-icon.svg);
    background-repeat: no-repeat;
	width: 35.5px;
	height: 25px;
}

.page-title{
	display: block;
	font-weight: 900;
	font-size: 60px;
	line-height: 1;
	text-transform: uppercase;
	color: #fff;
	margin: 25px 0 0;
}


.hdr-lft-opacity-bg,
.hdr-bg-cntlr-wrp{
	bottom: -30px;
}


.home-banner{
	height: 1000px;
}