.hm-back-in-time-sec{
	background: #141414; 
	padding: ;
	position: relative;
}
.hm-back-in-time-sec:after{
	content: "";
	position: absolute;
	right: 
}
.hbits-topline{
	position: absolute;
	right: 0;
	top: -13px;
	z-index: 2;
	background: #f6c042;
	height: 15px;
	width: 450px;
}
.hbits-topline:after{
	content: "";
	position: absolute;
	left: -14px;
	top: 0;
	bottom: 0;
	background: url(../images/orange-anlge.png);
	width: 14px;
	height: 15px;
}

.hm-back-in-time-sec-inr{
	overflow: hidden;
}
.hm-back-in-time-sec{
	position: relative;
}
.hm-back-in-time-sec-des{
	min-height: 756px;
	display: flex;
	align-items: center;
}
.hm-back-in-time-sec-fea-img{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 55%;
	z-index: 1;
}
.hm-back-in-time-sec-fea-img .inline-bg{
	width: 100%;
	height: 100%;
}
.hm-back-in-time-sec-angle{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 40%;
	background: linear-gradient(0deg, rgba(17, 17, 17, 0.49), rgba(17, 17, 17, 0.49)), #171717;
	transform: rotate(-180deg);
	z-index: 2;
}

.hm-back-in-time-sec-des{
	color: #fff;
	position: relative;
	z-index: 5;
	padding: 105px 0 120px;
	background: #141414;
}
.black-anlge-lft{
	position: absolute;
	top: 0;
	left: -288px;
	width: 289px;
	bottom: 0;
}
.black-anlge-lft img{
	height: 100%;
}
.hmbitsdes-title{
	text-transform: uppercase;
	font-size: 36px;
	line-height: 1;
	font-weight: 800;
	margin: 0 0 70px 0;
	color: #fff;
}
.hmbits-btns{
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.hmbits-btn{
	display: flex;
}
.hmbits-btns a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 180px;
	height: 56px;
	color: #2B2B2B;
	background: #F6C042;
	font-weight: 800;
	font-size: 12px;
	line-height: 18px;
	border: 2px solid #F6C042;
	text-transform: uppercase;
}
.hmbits-btn-1{
	padding-right: 10px;
}
.hmbits-btn-2 a{
	background: transparent;
	color: #fff;
	border-color: #fff;
}
.hmbits-btn-1 a:hover{
	background: transparent;
	color: #fff;
	border-color: #fff;
}
.hmbits-btn-2 a:hover{
	border-color: #F6C042;
	background: #F6C042;
	color: #2B2B2B;
}
.hm-back-in-time-sec-des p{
	margin-bottom: 30px;
}

.hm-back-in-time-sec-des strong{
	display: block;
	font-weight: 800;
	font-size: 26px;
	line-height: 34px;
	margin: 0 0 50px 0;
}

.hbitsdate{
	padding: 0 0 0 36px;
	color: #F6C042;
	position: relative;
	margin-bottom: 28px;
	display: block;
}
.hbitsdate:before{
	content: "";
	background: url(../images/angle-line-sm.svg);
	width: 26px;
	height: 18px;
	background-repeat: no-repeat;
	background-size:  100% auto;
	position: absolute;
	left: 0;
	top: 0;
}

.hm-news-section{
	padding: 110px 0 0;
}
.hmNewsSecSlider{
	margin: 0 -12px!important;
}
.hmNewsSecSlideItem{
	padding: 0 12px 70px;
}
.hm-news-sec-hdr{
	position: relative;
	padding-left: 100px;
	padding-right: 100px;
}
.hm-news-section .hmNewsSecSliderPrevNext{
	display: block;
}
.fl-prev-next{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.fl-prev{
	margin-right: 20px;
}
.fl-prev,
.fl-next{
	cursor: pointer;
}
.fl-prev:hover svg{
	fill:#F6C042;
}
.fl-next:hover svg{
	fill:#F6C042;
}
.hmns-title{
	font-weight: 800;
	font-size: 36px;
	line-height: 1;
	display: block;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 40px 0;
}
.sp-fanshop-gallery-btm{
	padding: 50px 0 0;
}
.sp-fanshop-gallery-btm ul{
	margin: 0 -12px;
}
.sp-fanshop-gallery-btm ul li{
	float: left;
	width: 50%;
	padding: 0 12px 24px;
}
.sp-fanshop-btm-gallery-item-inr{
	height: 240px;
	display: flex;
	align-items: center;
	color: #fff;
	padding: 10px 10px 10px 50%;
}
.sp-fanshop-btm-gallery-item-inr h3{
	color: #fff;
	margin: 0 0 15px;
}
.sp-fanshop-btm-gallery-item-inr h3 a{
	color: #fff;
}
.sp-fanshop-btm-gallery-item-inr h3 a:hover{
	color: #FFD056;
}
.hm-sp-fanshop-gallery-sec-cntlr.sp-fanshop-gallery-sec-wrp{
	padding-bottom: 0;
}
.sp-fanshop-btm-gallery-item:hover .spfbg-item-des-cntlr > a{
	margin-left: 5px;
}
.sp-fanshop-btm-gallery-item:hover .spfbg-item-des-cntlr > a svg{
	fill: #fff;
}
.hm-ranking-section{
	padding: 90px 0 75px;
	background: #F9F9F9;
}
.hm-ranking-sec-rgt-des{
	background: #fff;
	padding: 50px 50px 5px;
}
.hm-ranking-tbl{
	padding: 33px;
	background: #f9f9f9;
}
.hm-ranking-tbl table{
	width: 100%;
	color: #111111;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}
.hm-ranking-tbl table span{
	display: block;
}
.hm-ranking-tbl table thead tr th{
    background: #111111;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 5px;
}
.hm-ranking-tbl table thead tr th:nth-child(2) span,
.hm-ranking-tbl table tbody tr td:nth-child(2) span{
	text-align: left;
}
.hm-ranking-tbl table tbody tr:first-child td{
	padding-top: 28px;
}
.hm-ranking-tbl table tbody td{
	padding: 17px 15px;
}

.hrsrd-title{
	text-transform: uppercase;
	font-weight: 800;
	font-size: 26px;
	line-height: 1;
	display: block;
	margin: 0 0 45px 0;
}
.hm-training-schedule{
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.02);
	-ms-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.02);
	-webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.02);
	padding: 40px 45px 7px;
	margin-top: 30px;
}
.hm-training-schedule-title{
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1;
	margin: 0 0 32px 0;
}
.hm-training-schedule ul{
	padding: 30px 0 0;
	border-bottom: 3px solid #F9F9F9;
	border-top: 3px solid #F9F9F9;
	font-size: 13px;
	line-height: 1.1;
}
.hm-training-schedule ul li{
	padding: 0 0 30px;
}
.hm-training-schedule ul li div{
	display: flex;
	align-items: center;
}
.hm-training-schedule ul li div span{
	margin-left: auto;
	padding-left: 10px;
	color: #B4B4B4;
}
.hm-training-schedule ul li div strong{
	font-weight: 700;
	color: #111111;
}

.versus-match-title span{
	color: #BABABA;
	padding-left: 80px;
	position: relative;
}
.versus-match-title span:after{
	content: "";
	position: absolute;
	left: 29px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: url(../images/slice-angle.png);
	width: 9px;
	height: 18px;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.hm-back-in-time-sec.hm-webshop-sec{
	overflow: initial;
	padding: 55px 0 50px;
	color: #fff;
}
.hm-back-in-time-sec.hm-webshop-sec .hm-back-in-time-sec-inr{
	overflow: initial;
}

.hmWebshopSlider{
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: 40px!important;
}
.hmWebshopSlideItem{
	padding: 0 12px;
}

.fl-prev-next.hmWebshopSliderPrevNext{
	position: static;
	transform: initial;
}

.hmws-title{
	display: block;
	color: #fff;
	font-weight: 800;
	font-size: 36px;
	line-height: 1;
	margin: 0 0 45px 0;
	text-transform: uppercase;
	text-align: center;
}
.hm-webshop-sec-btmbar{
	display: flex;
	align-items: center;
}
.hm-webshop-sec-btmbar-btn{
	margin-left: auto;
}
.hm-webshop-sec-btmbar-btn a{
	color: #2B2B2B;
	font-weight: 800;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
	width: 230px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #F6C042;
	border: 2px solid #F6C042;
}



@media(max-width: 1499px){

}

@media(max-width: 1399px){
	.hm-ranking-sec-rgt-des{
		padding-left: 20px;
		padding-right: 20px;
	}
	.hm-ranking-tbl{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hm-ranking-section{
		padding-top: 70px;
	}
	.hm-ranking-section .versus-match-title{
		text-align: center;
	}
	.hm-ranking-section  .versus-match-cntlr,
	.hm-training-schedule{
		max-width: 850px;
		margin-left: auto;
		margin-right: auto;
	}
	.hm-training-schedule{
		margin-bottom: 20px;
	}
	.hm-ranking-sec-rgt-des {
	    padding-left: 40px;
	    padding-right: 40px;
	}
}

@media(max-width: 991px){
	.hmNewsSecSlideItem{
		padding-bottom: 40px;
	}
	.hm-news-sec-cntlr{
		padding-bottom: 40px;
	}
	.hmbitsdes-title{
		margin-bottom: 40px;
	}
	.hmbits-btns a{
		width: 160px;
	}
	body.home .hm-back-in-time-sec-des{
		padding-bottom: 60px;
		padding-top: 60px;
	}
	.hmbitsdes-title{
		font-size: 30px;
	}
	.hm-back-in-time-sec-des strong{
		font-size: 24px;
		margin-bottom: 30px;
	}
}

@media(max-width: 767px){
	.versus-match-title span {
	    display: block;
	    padding-left: 0;
	    padding-top: 7px;
	}
	.hm-back-in-time-sec-fea-img{
		width: 100%;
		height: 350px;
		position: static;
	}
	.hm-back-in-time-sec-angle{
		display: none;
	}
	.black-anlge-lft {
	    width: 100%!important;
	    left: 0!important;
	    right: 0!important;
	    bottom: 100%!important;
	    top: auto!important;
	    height: 135px;
	    border-bottom: 150px solid #141414;
	    border-right: 150px solid transparent;
	}
	.black-anlge-lft img{
		display: none!important;
	}
	body.home .fl-prev-next{
		top: initial!important;
		bottom: 0!important;
		transform: initial!important;
		left: 20px!important;
		right: 20px!important;
		position: relative!important;
	}
	body.home .fl-prev{
		position: absolute!important;
		left: 0!important;
		top: -20px!important;
		right: auto!important;
		margin-right: 0;
	}
	body.home .fl-next{
		position: absolute!important;
		right: 20px!important;
		top: -20px!important;
		left: auto!important;
	}
	body.home .eena-breadcrumbs-sec{
		margin-top: 0;
	}
	.hm-news-sec-hdr{
		padding-left: 0;
		padding-right: 0;
	}
	.hm-ranking-section{
		padding-top: 30px;
	}
	.hm-ranking-sec-rgt-des,
	.hm-training-schedule {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.versus-play-time-sm{
		padding-top: 15px;
		padding-bottom: 15px;
		border-bottom: 3px solid #f9f9f9;
	}
	.versus-play-time-sm span{
		font-weight: 700;
		font-size: 12px;
		line-height: 18px;
		text-transform: uppercase;
		color: #111111;
	}
}
@media(max-width: 639px){
	.hm-ranking-sec-rgt-des{
		margin-left: -20px;
		margin-right: -20px;
	}
}


@media(max-width: 575px){
	.hm-ranking-tbl{
		background: transparent;
		padding: 0;
	}
	.hrsrd-title{
		margin-bottom: 35px;
	}
	.hm-ranking-tbl{
		overflow-y: scroll;
	}
	.hm-ranking-tbl table{
		width: 550px;
	}
	.hm-ranking-sec-rgt-des{
		padding-top: 35px;
	}
}

@media(max-width: 479px){
	.hrsrd-title{
		font-size: 20px;
	}

}

@media(max-width: 359px){

}

