.classroom-sec-wrap{
	padding: 105px 0 100px 0;
	background: #f9f9f9;
}
.classroom-inr{
	display: flex;
}
.classroom-desc{
	width: 66%;
}
.classroom-desc-cntlr{
	padding: 0 50px 116px 50px;
	background: #fff;
}
.classroom-desc-title{
	font-weight: 800;
	padding-top: 50px;
	margin-bottom: 43px;
	text-transform: uppercase;
	color: #111111;
}
.classroom-table-wrap{
	background: #f9f9f9;
	padding: 33px 35px 27px 23px;
}
.table-inr{

}
.table-inr table{
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	color: #111111;
	width: 100%;
	border: none;
}
.classroom-thead{
	background: #111111;
}
.classroom-thead tr{
	color: #fff;
	
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
}
.classroom-thead tr th{
	padding: 14px 25px;
	text-align: center;
}
.classroom-tbody tr td{
	text-align: center;
	padding: 14px 0;
}
.classroom-thead tr th:nth-last-child(2),
.classroom-tbody tr td:nth-last-child(2){
	width: 105px;
}
.classroom-tbody tr:focus td,
.classroom-tbody tr:hover td{
	background: #fff;
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
}
.classroom-tbody tr td:nth-child(2),
.classroom-thead tr th:nth-child(2){
	padding-left: 0;
	padding-right: 0;
	text-align: left;
	min-width: 130px;
}
.classroom-thead tr th:first-child,
.classroom-tbody tr td:first-child{
	padding: 0 22px 0 25px;
}
.classroom-tbody{

}
.classroom-aside-cntlr{
	width: 34%;
	padding-left: 22px;
}
.classroom-aside-inr{

}
.versus-match-cntlr{
	background: #fff;
	padding: 0 31px;
}
.versus-match-title{
	color: #111111;
	padding-top: 42px;
	padding-bottom: 34px;
	margin-bottom: 0;
	text-transform: uppercase;
	border-bottom: 3px solid #f9f9f9;
}
.am-volgende-top-imgs-cnrlr{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.versus-match{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 0;
	border-bottom: 3px solid #f9f9f9;}
.versus-team{
	width: 25%;
	text-align: center;
}
.versus-team-name{
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	color: #111111;
	margin-bottom: 0;
	margin-top: 10px;
}
.versus-logo-wrap{
	width: 40%;
}
.versus-logo{
	width: 153px;
	height: 60px;
	background-size: 100% 100%!important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.versus-team2{
	width: 35%;
	text-align: center;
}
.versus-play-time{
	text-align: center;
}
.versus-logo .versus-play-time span{
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #111111;
	line-height: 1.4;
}
.versus-btn{
	padding: 38px 0;
}
.versus-btn a{
	text-transform: uppercase;
	color: #F6C042;
	font-weight: 800;
}
.versus-btn a i{
	padding-bottom: 3px;
	padding-left: 16px;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.versus-btn a:hover{
	color: #111111;
}
.versus-btn a:hover i{
	padding-left: 25px;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.versus-btn a:hover i svg{
	fill: #111111;
}
.classroom-aside-bottom{
	padding-top: 29px;
}
.classroom-aside-bottom > ul > li{
	margin-bottom: 24px;
}
.classroom-aside-bottom > ul > li:last-child{
	margin-bottom: 0;
}
.sp-fanshop-gallery-inr .classroom-aside-gallery-img{
	height: 340px!important;
}