.player-category-sec{
	padding-top: 85px;
	padding-bottom: 45px;
}

.player-targer{
	float: left;
	width:  18.1481%;
}
.player-defender{
	float: left;
	width: 29.2592%;
	padding-right: 50px;
}
.player-mid{
	float: left;
	width: 29.2592%;
	padding-right: 40px;
}
.player-attact{
	float: left;
	width: 23.3333%;
}

.pt-title,
.pd-title,
.pmid-title,
.player-attact{
	display: block;
	font-size: 20px;
	line-height: 1;
	margin-bottom: 25px;
	font-weight: 800;
	text-transform: uppercase;
	color: #111111;
}


.player-targer ul li,
.pd-list-ctlr ul li,
.pmid-list-ctlr ul li,
.pa-list-ctlr ul li{
	padding-bottom: 5px;
}
.pd-list-ctlr ul li,
.pmid-list-ctlr ul li,
.pa-list-ctlr ul li{
	float: left;
	width: 50%;
}
.pd-list-ctlr ul li.active a{
	color: #F6C042
}
.player-targer ul li a,
.pd-list-ctlr ul li a,
.pmid-list-ctlr ul li a,
.pa-list-ctlr ul li a{
	font-size: 13px;
	color: #111111;
	text-transform: uppercase;
	font-weight: 700;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.player-targer ul li a:hover,
.pd-list-ctlr ul li a:hover,
.pmid-list-ctlr ul li a:hover,
.pa-list-ctlr ul li a:hover{
	color: #F6C042;
}




.player-details-sec{
	padding: 75px 0 48px;
	background: #F9F9F9;
}

.player-details-title{
	display: block;
	font-size: 60px;
	line-height: 1;
	margin-bottom: 55px;
	font-weight: 900;
	color: #111111;
	text-transform: uppercase;
}
.player-details-title strong{
	color: #F6C042;
	margin-left: 15px;
}
.player-des{
	float: left;
	width: 67.0370%;
	padding: 55px 40px 42px 40px;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.02);
}
.player-fac{
	float: right;
	width:  32.9629%;
	padding-left: 24px;
}


.list-grd ul li:nth-child(odd){
	background: #F9F9F9;
}
.list-grd ul li strong{
	float: left;
	width:  31.1594%;
	padding: 18px 20px 15px 32px;
	color: #111111;
	text-transform: uppercase;
	font-weight: 800;
}
.list-grd ul li span{
	float: right;
	width: 68.8405%;
	color: #111111;
	padding: 18px 30px 15px 0;
	text-transform: uppercase;
	line-height: 26px;
}
.list-grd ul li span.ntnl{
	padding-left: 38px;
	position: relative;
}
.list-grd ul li span.ntnl:before{
	content: "";
	position: absolute;
	top: 52%;
	left: 0;
	height: 24px;
	width: 24px;
	background: url('../images/list-grd-ntnl-icon.svg');
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	transform: translateY(-50%);
}

.player-fac-img{
	border: 8px solid #fff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
	min-height: 550px;
}

.player-btm-img{
	margin-left: -6px;
	margin-right: -6px;
	padding-top: 18px;
}
.plyr-btm-img-01,
.plyr-btm-img-02,
.plyr-btm-img-03{
	float: left;
	width: 33.3333%;
	padding-left: 6px;
	padding-right: 6px;
}
.plyr-btm-img-01 img,
.plyr-btm-img-02 img,
.plyr-btm-img-03 img{
	width: 100%;
}

.social-media{
	padding-top: 42px;
	display: flex;
	align-items: center;
}
.social-media strong{
	display: inline-block;
	font-size: 20px;
	color: #BABABA;
	text-transform: uppercase;
	font-weight: 800;
	padding-right: 12px;
}
.social-media ul{
	display: inline-block;
}
.social-media ul li{
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
}

.social-media ul li a{
	height: 32px;
	width: 32px;
	background: #3A559F;
	border-radius: 100%;
	display: inline-block;
	vertical-align: baseline;
	line-height: 32px;
	text-align: center;
	color: #fff;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.social-media ul li a.twitter{
	background: #55ACEE;
}
.social-media ul li a:hover{
	background: #FFD056;
}


/*.xs-player-list{
	margin-bottom: 30px;
	position: relative;
}
.xs-player-list strong{
	display: flex;
	align-items: center;
	background: #FFD056;
	color: #2B2B2B;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
	min-height: 56px;
	height: 100%;
	padding: 5px 40px 5px 28px;
	position: relative;
}
.xs-player-list strong:after{
	content: "";
	background: url(../images/md-down-arrow-xs.png);
	width: 12px;
	height: 8px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right: 28px;
}
.xs-player-list strong.md-tabs-btn-expend:after{
	background: url(../images/md-up-arrow-xs.png);
}

.xs-player-list ul{
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	background: #fff;
	text-align: center;
	z-index: 40;
	padding: 10px 10px 10px;
	border-radius: 0 0 8px 8px;
	display: none;
}
.xs-player-list ul li{
	padding-bottom: 10px;
	float: left;
	width: 50%;
}
.xs-player-list ul li a{
	color: #111111;
	text-transform: uppercase;
}*/
.player-category-sec .xs-link ul li{
	float: left;
	width: 50%;
}
.player-category-sec .xs-link ul li.active a{
	color: #FFD056;
}

.player-category-sec .xs-link{
	display: none;
}



@media(max-width: 1499px){

}

@media(max-width: 1399px){
	
}

@media(max-width: 1299px){
	.player-defender {
	    padding-right: 35px;
	}
	.player-mid {
	    padding-right: 25px;
	}
	.player-des {
	    padding: 50px 40px 32px 40px;
	}
}

@media(max-width: 1199px){
	.player-category-sec {
	    padding-bottom: 35px;
	}
	.player-targer {
	    width: 20%;
	}
	.player-defender {
	    padding-right: 0px;
	    width: 25%;
	}
	.player-mid {
	    padding-right: 0px;
	    width: 30%;
	}
	.player-attact {
	    width: 25%;
	}
	.pt-title, 
	.pd-title, 
	.pmid-title, 
	.player-attact {
	    font-size: 18px;
	    margin-bottom: 15px;
	}
	.player-details-sec {
	    padding: 60px 0 40px;
	}
	.player-details-title {
	    font-size: 52px;
	    margin-bottom: 40px;
	}
	.player-des {
	    padding: 45px 30px 32px 30px;
	    width: 65%;
	}
	.player-fac {
	    width: 35%;
	    padding-left: 15px;
	}
	.list-grd ul li strong {
	    width: 40%;
	}
	.list-grd ul li span {
	    width: 60%;
	    line-height: 22px;
	}
	.list-grd ul li span br{
		display: none;
	}
	.social-media {
	    padding-top: 35px;
	}
}

@media(max-width: 991px){
	.player-details-sec {
	    padding: 50px 0 30px;
	}
	.player-details-title {
	    font-size: 45px;
	    margin-bottom: 35px;
	}
	.player-fac {
	    width: 100%;
	    padding-left: 0px;
	    margin-bottom: 20px;
	}
	.player-fac-img {
	    min-height: 500px;
	    max-width: 330px;
	    margin: 0 auto;
	}
	.player-btm-img {
	    max-width: 330px;
	    margin: 0 auto;
	}
	.player-des {
	    width: 100%;
	}
	.player-category-sec-inr{
		display: none;
	}
	.player-category-sec .xs-link{
		display: block;
	}
	
}

@media(max-width: 767px){
	.player-category-sec {
	    padding-top: 48px;
	    padding-bottom: 20px;
	}
	.player-details-sec {
	    padding: 45px 0 30px;
	}
	.player-details-title {
	    font-size: 40px;
	    margin-bottom: 30px;
	}
	.player-des{
		margin-left: -20px;
		margin-right: -20px;
		width: auto;
	}
	.list-grd ul li strong {
	    width: 50%;
	    padding: 18px 10px 15px 20px;
	}
	.list-grd ul li span {
	    width: 50%;
	    padding: 18px 10px 15px 0px;
	    background: rgba(245, 245, 245, 0.56);
	}
	.list-grd ul li strong{
		padding-right: 0;
	}
	.list-grd ul li span{
		padding-left: 25px;
	}
	.list-grd ul li span.ntnl:before{
		left: 22px;
	}
	.list-grd ul li span.ntnl{
		padding-left: 58px;
	}
	.list-grd ul li{
		line-height: 1;
	}
	.player-details-title strong{
		display: block;
		margin-left: 0;
	}
}

@media(max-width: 575px){
	.player-details-title {
	    font-size: 35px;
	}

}

@media(max-width: 479px){
	.list-grd ul li strong {
	    font-size: 12px;
        word-break: break-all;
	}
	.list-grd ul li span{
		font-size: 12px;
	}

}

@media(max-width: 359px){

}

