/*
-------------------
sp-service-sec-wrp
-------------------
*/
.sp-service-sec-wrp{
	background: #f9f9f9;
	padding: 105px 0; 
}
.sp-service-title{
	font-size: 36px;
	line-height: 1.2;
	color: #111111;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 75px;
	display: block;
}
.sp-service-wrp ul{
	margin: 0 -10px;
}
.sp-service-wrp ul li{
	float: left;
	width: 33.3333%;
	padding: 10px 10px;
}
.sp-service-wrp ul li:nth-child(3n+1){
	clear: left;
}
.sp-service-box-inr {
    background: #fff;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.02);
}
.sp-service-box-dsc-title{
	font-size: 26px;
	line-height: 1;
	color:#fff;
	margin-bottom: 20px;
	font-weight: 800;
	display: block;
}
.sp-service-box-hover{
    background: #131313;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    cursor: pointer;
}
.sp-service-box-inr:hover .sp-service-box-hover{
	opacity: 1;
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
} 
.sp-service-box-dsc{
	color: #BBBBBB;
	font-weight: 600;
	text-align: center;
	padding: 35px 35px;
}
.sp-service-box-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	text-transform: uppercase;
	padding-top: 35px;
	font-weight: 800;
}
.sp-service-box-dsc a:hover{
	color: #f6c042;
}
/*
---------------------------
sp-fanshop-gallery-sec-wrp
---------------------------
*/
.sp-fanshop-gallery-sec-wrp{
	padding-top: 85px;
	padding-bottom: 80px;
}
.sp-fanshop-gallery-wrp ul{
	margin: 0 -12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.sp-fanshop-gallery-wrp ul li{
	width: 25%;
	padding: 0 12px;
}
.sp-fanshop-gallery-img{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	height: 440px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.sp-fanshop-gallery-img:hover .sp-fanshop-gallery-dsc > a{
	margin-left: 5px;
}
.sp-fanshop-gallery-img:hover .sp-fanshop-gallery-dsc > a svg{
	fill: #fff;
}
.sp-fanshop-gallery-img:hover .sp-fanshop-gallery-dsc > img{
	
}
.sp-fanshop-gallery-dsc {
    text-align: center;
    padding: 20px 20px;
}
.sp-fanshop-gallery-title{
	font-size: 26px;
	line-height: 1;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 800;
	display: block;
}
.sp-fanshop-gallery-title a{
	color: inherit;
	display: inline-block;
	vertical-align: baseline;
}
.sp-fanshop-gallery-title:hover a{
	color: #fed056;
}
.sp-fanshop-gallery-dsc p{
	font-size: 16px;
	color: #fff;
	margin-bottom: 5px;
}
.sp-fanshop-gallery-dsc a:hover i svg{
	fill: #fff;
}

/*
-------------------
 Responsive Css
-------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){
	
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.sp-service-title {
	    font-size: 34px;
	}
	.sp-fanshop-gallery-wrp ul li{
		width: 33.3333%;
		padding: 0 12px 24px;
	}
	.sp-fanshop-gallery-wrp ul li:nth-child(3n+1){
		clear: left;
	}

}

@media(max-width: 991px){
	.sp-service-wrp ul li {
	    width: 50%;
	}
	.sp-service-wrp ul li:nth-child(3n+1) {
	    clear: none;
	}
	.sp-service-wrp ul li:nth-child(2n+1) {
	    clear: left;
	}
	.sp-service-title {
	    font-size: 32px;
	    margin-bottom: 50px;
	}
	.sp-service-sec-wrp {
	    padding: 80px 0;
	}
	.sp-fanshop-gallery-wrp ul li{
		width: 50%;
	}
	.sp-fanshop-gallery-wrp ul li:nth-child(3n+1){
		clear: none;
	}
	.sp-fanshop-gallery-wrp ul li:nth-child(2n+1){
		clear: left;
	}
	
}

@media(max-width: 767px){
	.sp-service-title {
	    font-size: 30px;
	    line-height: 32px;
	}
	.sp-service-sec-wrp {
	    padding: 70px 0 50px;
	}
	.sp-fanshop-gallery-sec-wrp {
	    padding-top: 50px;
	    padding-bottom: 35px;
	}
	.sp-fanshop-gallery-img {
	    height: 380px!important;
	}
}

@media(max-width: 575px){
	.sp-service-title {
	    font-size: 28px;
	}
	.sp-service-wrp ul li {
	    width: 100%;
	}
	.sp-service-wrp ul li:nth-child(3n+1) {
	    clear: none;
	}
	.sp-service-wrp ul li:nth-child(2n+1) {
	    clear: none;
	}
	.sp-service-box-hover {
	    background: none;
	    position: static;
	    display: inline-block;
	    vertical-align: baseline;
	    opacity: 1;
	    transform: none;
	}
	.sp-service-box-inr {
	    height: auto;
	    display: inline-block;
	    vertical-align: baseline;
	    text-align: center;
	    padding: 40px 30px 30px;
	}
	.sp-service-box-dsc h3{
		display: none;
	}
	.sp-service-box-dsc {
	    text-align: center;
	    padding: 30px 0px 0;
	    color: #6A6A6A;
	}
	.sp-service-box-dsc a {
	    color: #2B2B2B;
	    padding-top: 12px;
	}
	.sp-fanshop-gallery-wrp ul li{
		width: 100%;
	}
	.sp-fanshop-gallery-wrp ul li:nth-child(3n+1){
		clear: none;
	}
	.sp-fanshop-gallery-wrp ul li:nth-child(2n+1){
		clear: none;
	}
	.sp-fanshop-gallery-img {
	    height: 320px !important;
	}
	.sp-fanshop-gallery-title {
	    margin-bottom: 15px;
	}
	.sp-fanshop-gallery-dsc p {
	    margin-bottom: 10px;
	    line-height: 24px;
	}

}

@media(max-width: 479px){
	.sp-service-title {
	    font-size: 26px;
	}
	.sp-service-box-inr {
	    padding: 40px 20px 30px;
	}
	.sp-fanshop-gallery-dsc {
	    padding: 15px 10px;
	}
	.sp-fanshop-gallery-img {
	    height: 280px !important;
	}

}

@media(max-width: 359px){

}
