

.a-kern-section{
	background: #fff;
}
.a-kern-innr{
	text-align: center;
	padding-top: 110px;
	padding-bottom: 68px;

}
.a-kern-title{
	font-weight: 900;
	line-height: 1.2;
	font-style: normal;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 25px;
	/* line-height: 72px; */
} 
.a-kern-desc{
	padding-bottom: 45px;
}
.a-kern-pages{
	text-align: center;
}
.a-kern-pages ul{
	display: flex;
	justify-content: center;
}
.a-kern-pages > ul > li{
	padding-left: 35px;
	padding-right: 35px;
	position: relative;
}
.a-kern-pages > ul > li:after{
	position: absolute;
	content: "";
	right: -2px;
	top: 0;
	margin-top: 2px;
    transform: rotate(25deg);
	height: 16px;
	width: 2px;
	background: #6A6A6A;
}
.a-kern-pages > ul > li:first-child{
	padding-left: 0;
}
.a-kern-pages > ul > li:last-child{
	padding-right: 0;
}
.a-kern-pages > ul > li:last-child:after{
	display: none;
}
.a-kern-pages > ul > li > h4{
	margin-bottom: 0;
	line-height: 1;
}
.a-kern-pages > ul > li a{
	display: inline-block;
	font-weight: 800;
	text-transform: uppercase;
	color: #6A6A6A;
	cursor: pointer;
}
.a-kern-pages > ul > li a:hover,
.a-kern-pages > ul > li .active{
	color: #111111;
}


.team-players{
	padding-top: 85px;
	padding-bottom: 45px;
	background: #f9f9f9;
}
.team-players-innr{

}
.team-players-title{
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.doelmannen-players{
	
}
.doelmannen-player:hover .doelmannen-player-img{
	transform: scale(1.1);
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
}
.doelmannen-players > ul{
	margin-left: -13px;
	margin-right: -13px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.doelmannen-players > ul > li{
	padding-left: 13px;
	padding-right: 13px;
	margin-bottom: 40px;
	width: 20%;
}
.doelmannen-players > ul > li:nth-child(5n+1){
	clear: left;
}
.doelmannen-player-img-cntrl{
	overflow: hidden;
}
.doelmannen-player-img{
	min-height: 320px;
	position: relative;
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
}
.doelmannen-player-hdng{
	display: flex;
	justify-content: center;
}
.doelmannen-player-title{
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 17px;
	margin-bottom: 15px;
}
.doelmannen-player-title a{
	color: #6A6A6A;
}
.doelmannen-player-title a:hover{
	color: #f7c042;
}
.tm-pl-sub-con-innr,
.tm-pl-sub-con2-innr,
.tm-pl-sub-con3-innr{
	padding-top: 33px;
}