
.team-content-wrap{

}
.team-content-entry-header{
	background: #fff;
}
.entry-header-innr{
	text-align: center;
	padding-top: 110px;
	padding-bottom: 68px;

}
.entry-header-title{
	font-weight: 900;
	line-height: 1;
	font-size: 60px;
	display: block;
	text-transform: uppercase;
	color: #111111;
	margin-bottom: 30px;
} 
.entry-header-desc{
	padding-bottom: 50px;
}
.entry-header-tab{
	text-align: center;
}
.entry-header-tab ul{
	display: flex;
	justify-content: center;
}
.entry-header-tab > ul > li{
	padding-left: 35px;
	padding-right: 35px;
	position: relative;
}
.entry-header-tab > ul > li:after{
	position: absolute;
	content: "";
	background: url('../images/team-entry-hdr-angle.png');
	right: -5px;
	top: 1px;
	width: 9px;
	height: 18px;
}
.entry-header-tab > ul > li:first-child{
	padding-left: 0;
}
.entry-header-tab > ul > li:last-child{
	padding-right: 0;
}
.entry-header-tab > ul > li:last-child:after{
	display: none;
}
.entry-header-tab > ul > li > h4{
	margin-bottom: 0;
	line-height: 1;
}
.entry-header-tab > ul > li a{
	display: inline-block;
	font-weight: 800;
	text-transform: uppercase;
	color: #BABABA;
	cursor: pointer;
}
.entry-header-tab > ul > li a:hover,
.entry-header-tab > ul > li .active{
	color: #111111;
}


.team-players{
	padding-top: 50px;
	padding-bottom: 45px;
	background: #f9f9f9;
}
.team-players-innr{

}
.team-players-title{
	font-weight: 800;
	font-size: 30px;
	color: #111111;
	padding-top: 36px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 37px;
}
.team-players-inr > ul{
	margin-left: -13px;
	margin-right: -13px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.team-players-inr > ul > li{
	padding-left: 13px;
	padding-right: 13px;
	margin-bottom: 40px;
	width: 20%;
}
.team-players-inr > ul > li:nth-child(5n+1){
	clear: left;
}
.team-player{
}
.team-player-img-cntrl{
	overflow: hidden;
	position: relative;
	min-height: 320px;
}
.team-player-img{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}
.team-player-img-hover{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}
.team-player:hover .team-player-img-cntrl .team-player-img-hover{
	display: block;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}
.team-player:hover .team-player-img-cntrl .team-player-img{
	display: none;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}
.team-player-hdng{
	display: flex;
	justify-content: center;
}
.team-player-title{
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 20px;
	margin-bottom: 15px;
}
.team-player-title a{
	color: #111111;
}
.team-player-title a:hover{
	color: #f7c042;
}